<!--# events/templates/events/claim_slices.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">

    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4985938341753226"></script>
    <!-- Top Banner -->
    <ins class="adsbygoogle"
         data-ad-client="ca-pub-4985938341753226"
         data-ad-format="auto"
         data-ad-slot="5229386425"
         data-full-width-responsive="true"
         style="display:block"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <h3>Join Order:</h3>
    {% if not pizza_order.event_is_locked %}
    <div class="alert alert-warning small" role="alert">
        Please be vigilant when joining an order and sending money via revolut, especially with a person unknown to you.
    </div>
    <div class="card">
        <div class="card-body">
            {% load crispy_forms_tags %}
            <form class="my-class" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input name="next" type="hidden" value="{{ request.GET.next }}">
                <div class="d-grid">
                    <button class="btn btn-success" id="confirm-join-btn" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Event is locked.
    </div>
    {% endif %}
</div>
{% endblock %}
