<!--# events/templates/events/delete_slices.html-->
{% extends "./main_template.html" %}

{% block content %}
    <div class="container text-light p-3">
        {% if not object.order.event_is_locked %}
            <div class="alert" role="alert">
                <form method="post">{% csrf_token %}
                    <p>
                        <strong>
                            Are you sure you want to remove {{ object }}'s slices from the order?
                        </strong>
                    </p>
                    <p>
                        <strong>
                            Please do not continue unless you have permission from {{ object }} or are the person making
                            the order.
                        </strong>
                    </p>
                    <input name="next" type="hidden" value="{{ request.GET.next }}">
                    <div class="text-end mt-4">
                        <a class="btn btn-outline-light rounded-pill"
                           href="{% url 'events:event-detail' object.order.event.organisation.path object.order.event.slug %}">
                            Cancel
                        </a>
                        <button class="btn btn-light rounded-pill ms-2" id="confirm-remove-slices-btn" type="submit">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Event is locked.
            </div>
        {% endif %}
    </div>
{% endblock %}