<!--# events/templates/events/delete_slices.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">

    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4985938341753226"></script>
    <!-- Top Banner -->
    <ins class="adsbygoogle"
         data-ad-client="ca-pub-4985938341753226"
         data-ad-format="auto"
         data-ad-slot="5229386425"
         data-full-width-responsive="true"
         style="display:block"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {% if not object.pizza_order.event_is_locked %}
    <div class="alert alert-danger" role="alert">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to remove {{ object }}'s slices from the order?</p>
            <p>Please do not continue unless you have permission from {{ object }} or are the person making the
                order. </p>
            <input name="next" type="hidden" value="{{ request.GET.next }}">
            <div class="text-center">
                <button class="btn btn-danger" id="confirm-remove-slices-btn" type="submit">Confirm</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Event is locked.
    </div>
    {% endif %}
</div>
{% endblock %}