<!--# events/templates/events/event_detail.html-->
{% extends "events/main_template.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row text-center pt-4">
            <img alt="Organisation logo" class="mx-auto d-block" src="{{ event.organisation.logo.url }}"
                 style="max-height: 140px; max-width: 140px;"/>
        </div>
        <div class="row text-center text-light">
            <a class="display-5 text-decoration-none text-light"
               href="{% url 'events:org-detail' event.organisation.path %}">
                {{ event.organisation.name }}
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex text-center text-light border-2 border-bottom pb-5 mb-3">
            <h2 class="display-6">{{ event.name }}</h2>
            <p class="mb-0 mx-auto lead">{{ event.date }}</p>
        </div>
        {% if event.description %}
            <div class="row d-flex text-center text-light border-2 border-bottom px-4 mb-3">
                <p>{{ event.description }}</p>
            </div>
        {% endif %}
        {% if request.user.organisation == event.organisation %}
            <div class="row border-2 border-bottom pb-3 mb-3">
                <h4 class="text-light text-center">Admin Actions:</h4>
                <div class="text-center">
                    <a class="btn btn-outline-light rounded-pill "
                       href="{% url 'events:event-edit' event.organisation.path event.slug %}">
                        Edit Event / Delete Event
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container text-light mb-3">
        <h3 class="py-3">Orders:</h3>
        {% if orders %}
            {% for order in orders %}
                <div class="card w-100 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ order.purchaser_name }}</h5>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-title">{{ order.description }}</h5>
                            </div>
                        </div>
                        <div class="row text-muted">
                            <div class="col">
                                <small class="mb-0">Revolut: {{ order.purchaser_revolut }}</small>
                            </div>
                            <div class="col text-end">
                                <small class="mb-0">Slices: {{ order.available_servings }} @
                                    €{{ order.price_per_serving|floatformat:2 }}</small>
                            </div>
                        </div>
                        <div class="row text-muted mb-3">
                            <small>WhatsApp: {{ order.purchaser_whatsapp }}</small>
                        </div>
                        <div class="container pb-3">
                            {% for serving in order.matched_servings %}
                                {% if forloop.first %}
                                    <div class="row small text-uppercase text-secondary mb-2">
                                        <div class="col">
                                            Name
                                        </div>
                                        <div class="col">
                                            WhatsApp
                                        </div>
                                        <div class="col text-end">
                                            Slices
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row small mb-2">
                                    <div class="col-4">
                                        {{ serving.buyer_name }}
                                    </div>
                                    <div class="col-6">
                                        {{ serving.buyer_whatsapp }}
                                    </div>
                                    <div class="col-2 text-end">
                                        x{{ serving.number_of_servings }}
                                        {% if not order.event_is_locked %}
                                            <a aria-label="Close"
                                               class="btn-close m-2"
                                               href="{% url 'events:delete-servings' event.organisation.path serving.id %}"
                                               id="remove-servings"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="container text-center mb-3">
                            {% for x in ""|ljust:order.get_total_claimed %}
                                ✔️
                            {% endfor %}
                            {% for x in ""|ljust:order.get_total_remaining %}
                                🍕
                            {% endfor %}
                        </div>

                        <div class="d-grid ">
                            {% if order.event_is_locked %}
                                <a class="btn btn-outline-danger rounded-pill text-center disabled" href=""
                                   id="new-servings-locked"
                                   role="button">Event
                                    Locked</a>
                            {% elif order.get_total_remaining > 0 %}
                                <a class="btn btn-outline-danger rounded-pill text-center"
                                   href="{% url 'events:claim-servings' event.organisation.path order.id %}"
                                   id="join-order-btn"
                                   role="button">
                                    Join Order</a>
                            {% else %}
                                <a class="btn btn-outline-danger rounded-pill text-center disabled" href=""
                                   id="order-full"
                                   role="button">Order
                                    Full</a>
                            {% endif %}
                        </div>
                        {% if request.user.organisation == event.organisation %}
                            <div class="text-center">
                                <a class="btn text-danger rounded-pill text-center mt-3"
                                   href="{% url 'events:order-delete' event.organisation.path event.slug order.id %}"
                                   id="delete-order-btn" role="button">
                                    <small>
                                        Delete Order
                                    </small>
                                </a>

                            </div>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Nobody has offered to order yet for this event</p>
        {% endif %}

        <div class="d-grid mb-5">
            {% if event.locked %}
                <a class="btn rounded-pill text-center disabled" href="" id="new-orders-locked" role="button">Event
                    Locked</a>
            {% else %}
                <a class="btn btn-outline-light rounded-pill text-center"
                   href="{% url 'events:create-pizza-order' event.organisation.path event.slug %}"
                   id="create-order-btn"
                   role="button">Start a new pizza order</a>
            {% endif %}
        </div>
    </div>
{% endblock %}