<!--# events/templates/events/event_create.html-->
{% extends "events/main_template.html" %}

{% block content %}
    <div class="container text-light">
        {% load crispy_forms_tags %}
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <div class="text-end mt-4">
                <button class="btn btn-outline-light rounded-pill" id="create-event-btn" type="submit">
                    Create
                </button>
                <a class="btn btn-outline-light rounded-pill ms-2"
                   href="{% url 'events:org-detail' org.path %}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock %}