<!--# events/templates/events/event_detail.html-->
{% extends "./main_template.html" %}
{% load static %}

{% block content %}

<div class="container"
     style="background-image: url('{% static 'events/bambino.jpg' %}'); width: 100%; background-repeat: no-repeat; background-size: cover; background-position-y: center;">
    <div class="text-white text-center p-5">
        <div class="container">
            <h1 class="display-4">{{ event.event_title }}</h1>
            <p class="mb-0 mx-auto lead">{{ event.date }}</p>
        </div>
    </div>
</div>

<div class="container mb-3">
    <h3 class="py-3">Pizza Orders:</h3>
    {% if pizza_orders %}
    {% for pizza_order in pizza_orders %}
    <div class="card w-100 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">{{ pizza_order.purchaser_name }}</h5>
                </div>
                <div class="col text-end">
                    <h5 class="card-title">{{ pizza_order.pizza_type }}</h5>
                </div>
            </div>
            <div class="row text-muted">
                <div class="col">
                    <small class="mb-0">Revolut: {{ pizza_order.purchaser_revolut }}</small>
                </div>
                <div class="col text-end">
                    <small class="mb-0">Slices: {{ pizza_order.available_slices }} @ €{{ pizza_order.price_per_slice|floatformat:2 }}</small>
                </div>
            </div>
            <div class="row text-muted mb-3">
                <small>WhatsApp: {{ pizza_order.purchaser_whatsapp }}</small>
            </div>
            <div class="container pb-3">
                {% for slice in pizza_order.matched_slices %}
                    {% if forloop.first %}
                        <div class="row small text-uppercase text-secondary mb-2">
                            <div class="col">
                                Name
                            </div>
                            <div class="col">
                                WhatsApp
                            </div>
                            <div class="col text-end">
                                Slices
                            </div>
                        </div>
                    {% endif %}
                    <div class="row small mb-2">
                        <div class="col-4">
                            {{ slice.buyer_name }}
                        </div>
                        <div class="col-6">
                            {{ slice.buyer_whatsapp }}
                        </div>
                        <div class="col-2 text-end">
                            x{{ slice.number_of_slices }}
                            <a class="btn-close m-2"
                               href="{% url 'events:delete-slices' slice.id %}?next={{ request.path|urlencode }}"
                               aria-label="Close"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="container text-center mb-3">
                {% for x in ""|ljust:pizza_order.get_total_claimed %}
                ✔️
                {% endfor %}
                {% for x in ""|ljust:pizza_order.get_total_remaining %}
                🍕
                {% endfor %}
            </div>

            <div class="d-grid ">
                {% if pizza_order.get_total_remaining > 0 %}
                <a class="btn btn-outline-success text-center" role="button"
                   href="{% url 'events:claim-slices' pizza_order.id %}?next={{ request.path|urlencode }}">Join
                    Order</a>
                {% else %}
                <a class="btn btn-outline-success text-center disabled" role="button" href="">Order Full</a>
                {% endif  %}
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="alert alert-secondary" role="alert">
        Nobody has offered to order yet for this event
    </div>
    {% endif %}

    <div class="d-grid">
        <a class="btn btn-success text-center" role="button"
           href="{% url 'events:create-pizza-order' event.id %}?next={{ request.path|urlencode }}">Start a new pizza
            order</a>
    </div>
</div>
{% endblock %}