<!--# events/templates/events/homepage.html-->
{% extends "events/main_template.html" %}

{% load static %}
{% block content %}
    <div class="container text-light p-3">
        {#            <div class="col-5">#}
        {#                <img alt="logo" class="img-fluid my-auto" src="{% static 'events/img/logo3_white.png' %}">#}
        {#            </div>#}


        <div class="display-4">carpool-style</div>
        <div class="display-4 mb-5">group ordering</div>
        <p class="lead">
            <strong>
                Streamlined group orders for clubs and organisations.<br/>
                Make pre-ordering hassle-free, reduce queues and spend more time enjoying your event.
            </strong>
        </p>


        <div class="">
            <a class="btn btn-outline-light rounded-pill"
               href="{% url 'events:org-detail' 'example' %}"
               id="orgs">
                Click here to try it out
            </a>
        </div>


        <div class="border-bottom border-2 my-5"></div>
        <div>
            <div class="display-5 mb-4">Find out more</div>
            <p>Interested in using pizzapool for your group or organisation? <br/>
                Want to know more about how it works? <br/>
                Get in touch <a class="text-light"
                                href="mailto:deanl-dev@outlook.com?subject=pizzapool%20enquiry">here</a>.
            </p>
        </div>
    </div>


{% endblock %}