<!--# events/templates/events/index.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">
    {% if events_list %}
    <ul class="list-group">
        {% for event in events_list %}
        <li class="list-group-item">
            <a class="text-dark text-decoration-none" href="{% url 'events:event' event.id %}">
                {{ event.date|date:'F d Y' }} - {{ event.event_title }} {{ event.locked|yesno:'🔒,'}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        There are currently no events.
    </div>
    {% endif %}
</div>
{% endblock %}