<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>pizzapool</title>
    <link href="{% static 'events/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'events/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'events/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'events/site.webmanifest' %}" rel="manifest">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mx-auto mb-0 h1">
            <a class="text-reset text-decoration-none" href="{% url 'events:stats' %}">🍕pizzapool</a>
        </span>
    </div>
</nav>
<div class="bg-light min-vh-100">
    {% block content %}
    {% endblock %}
</div>

<nav class="footer text-center mt-auto py-3 text-muted bg-dark" data-bs-theme="dark">
    <div class="container">
        <span>
            Created by Dean Lynch
            <a class="text-secondary text-decoration-none" href="https://github.com/lynchdean/pizzapool">(Source)</a>
        </span>
    </div>

</nav>
</body>
</html>