<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>pizzapool</title>
    <link href="{% static 'events/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'events/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'events/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'events/site.webmanifest' %}" rel="manifest">
    <!--  css  -->
    <link href="{% static 'events/style.css' %}" rel="stylesheet">
    <!--  ads  -->
    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4985938341753226"></script>
    <!--  fonts  -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap"
          rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        html, body {
            height: 100%;
        }

        body {
            background: #dc143b linear-gradient(0.9turn, #dc143b 50%, #ffa200) no-repeat;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light text-light border-bottom border-2 mb-4">
        <div class="container-fluid p-0 py-auto">
            <a class="navbar-brand" href="/">
                <span class="fs-4 align-middle text-light"
                      style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.25rem;">pizzapool</span>
                <img alt="logo" class="d-inline-block my-auto" height="24"
                     src="{% static 'events/img/logo_white.png' %}"
                     width="24">
            </a>
            {% if user.is_authenticated %}
            <a class="btn btn-outline-light btn-sm rounded-pill ms-auto" href="{% url 'events:user' user.username %}">
                Account: {{ user.username }}
            </a>
            {% else %}
            <a class="btn btn-outline-light btn-sm rounded-pill ms-auto"
               href="{% url 'events:login' %}?next={{request.path}}">Login</a>
            {% endif %}

        </div>
    </nav>
</div>


<div class="container px-4">
    {% block content %}
    {% endblock %}
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-2">
        <small class="col-md-4 mb-0 text-light"><small>&copy; {% now 'Y' %} Dean Lynch</small></small>
        <a class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
           href="/">
            <!--            <svg class="bi me-2" height="32" width="40">-->
            <!--                <use xlink:href="#bootstrap"></use>-->
            <!--            </svg>-->
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <small>
                    <a class="nav-link px-2 text-light" href="https://github.com/lynchdean/pizzapool">
                        Github
                    </a>
                </small>
            </li>
            <li class="nav-item">
                <small>
                    <a class="nav-link px-2 text-light" href="buymeacoffee.com/deanlynch">
                        Buy Me A Coffee</a>
                </small>
            </li>
        </ul>
    </footer>
</div>

</body>
</html>
