<!--# events/templates/events/create_pizza_order.html-->
{% extends "./main_template.html" %}

{% block content %}
    <style>
        .invalid-feedback {
            color: white;
        }
    </style>

    <div class="container text-light p-3">
        {% if not event.locked %}
            <h3>New Order:</h3>
            {% load crispy_forms_tags %}
            <form class="my-class" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-text text-light mt-4 mb-2">
                    There's {{ event.servings_per_order }} servings in each order - don't forget to take away any you
                    want to keep for yourself.
                </div>
                <div class="form-text text-light mb-2">
                    Please make sure all details are correct before confirming, you cannot edit it once done.
                </div>
                <div class="text-end mt-4">
                    <a class="btn btn-outline-light rounded-pill"
                       href="{% url 'events:event-detail' event.organisation.path event.slug %}">
                        Cancel
                    </a>
                    <button class="btn btn-light rounded-pill ms-2" id="confirm-order-btn" type="submit">
                        Create
                    </button>
                </div>
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Event is locked.
            </div>
        {% endif %}
    </div>
{% endblock %}