<!--# events/templates/events/index.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">

    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4985938341753226"></script>
    <!-- Top Banner -->
    <ins class="adsbygoogle"
         data-ad-client="ca-pub-4985938341753226"
         data-ad-format="auto"
         data-ad-slot="5229386425"
         data-full-width-responsive="true"
         style="display:block"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {% if orgs_list %}
    {% for org in orgs_list %}
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
                <img alt="organisation logo" class="img-fluid" height="50"
                     src="{{ org.logo.url }}"
                     width="50">
                <div class="ms-2 c-details">
                    <h6 class="mb-0">{{ org.name }}</h6> <span>{{ org.description }}</span>
                </div>
            </div>
            <div class="badge"><span>Design</span></div>
        </div>
        <a class="stretched-link" href="{% url 'events:org-detail' org.path %}"></a>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-secondary" role="alert">
        There are no organisations.
    </div>
    {% endif %}
</div>
{% endblock %}