<!--# events/templates/events/index.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">

    <script async crossorigin="anonymous"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4985938341753226"></script>
    <!-- Top Banner -->
    <ins class="adsbygoogle"
         data-ad-client="ca-pub-4985938341753226"
         data-ad-format="auto"
         data-ad-slot="5229386425"
         data-full-width-responsive="true"
         style="display:block"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <h3>Stats:</h3>
    <div class="card w-100 mb-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Total orders:</dt>
                <dd class="col-sm-10">{{ total_orders }}</dd>

                <dt class="col-sm-2">Total slices:</dt>
                <dd class="col-sm-10">{{ total_slices }}</dd>
            </dl>
            <p>
                {% if total_slices %}
                {% for x in ""|ljust:total_slices %}
                🍕
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}