<!--# events/templates/events/index.html-->
{% extends "./main_template.html" %}

{% block content %}
<div class="container p-3">
    <h3>Stats:</h3>
    <div class="card w-100 mb-3">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Total orders:</dt>
                <dd class="col-sm-10">{{ total_orders }}</dd>

                <dt class="col-sm-2">Total slices:</dt>
                <dd class="col-sm-10">{{ total_slices }}</dd>
            </dl>
            <p>
                {% for x in ""|ljust:total_slices %}
                🍕
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}