<!--# events/templates/events/user.html-->
{% extends "events/main_template.html" %}

{% block content %}
    <div class="container text-light border-bottom border-2 pb-3 mb-4">
        <div class="row">
            <div class="col">
                <h4 class="display-6 pb-2">User details:</h4>
            </div>
            <div class="col text-end">
                <form action="{% url 'events:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-light rounded-pill mx-auto" type="submit">Log Out</button>
                </form>
            </div>
        </div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Organisation:</strong> {{ user.organisation }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone/WhatsApp:</strong> {{ user.contact }}</p>
    </div>

    <div class="container text-light">

        <div class="row">
            <div class="col">
                <h4 class="display-6 pb-2">Organisation Details:</h4>
            </div>
            {% if user.organisation %}
                <div class="col text-end">
                    <a class="btn btn-outline-light rounded-pill mx-auto"
                       href="{% url 'events:org-update' user.organisation.path %}">
                        Edit Details
                    </a>
                </div>
            {% endif %}
        </div>
        {% if user.organisation %}
            <div class="row">
            {% if not user.organisation.stripe_account_id %}
                <div class="alert alert-warning" role="alert">
                    <span>Warning! Your organisation will be limited until linked with a verified Stripe Account ID</span>
                </div>
            {% endif %}
            <div class="col">

                <p><strong>Name:</strong> {{ user.organisation.name }}</p>
                <p><strong>Path:</strong>
                    <a class="text-light" href="{% url 'events:org-detail' user.organisation.path %}">
                        {{ request.get_host }}/{{ user.organisation.path }}/
                    </a>
                </p>
                <p><strong>Description:</strong> {{ user.organisation.description }}</p>

                <p><strong>Stripe Account ID:</strong>
                    {% if user.organisation.stripe_account_id %}
                        {{ user.organisation.stripe_account_id }}
                    {% else %}
                        No account ID set, please contact an administrator.
                    {% endif %}
                </p>

                <p>
                    <strong>Stripe Account Status:</strong>
                    {% if user.organisation.stripe_account_verified %}
                        Verified
                    {% else %}
                        Not verified
                    {% endif %}
                </p>
            </div>
            <div class="col text-end">
                <img alt="Organisation logo" src="{{ user.organisation.logo.url }}"
                     style="max-height: 100px; max-width: 100px;"/>
            </div>

            <div class="text-center">
            {% if user.organisation.stripe_account_id %}
                <a class="btn btn-outline-light rounded-pill mx-auto"
                   href="{{ stripe_link }}" target="_blank">
                    {% if user.organisation.stripe_account_verified %}
                        Visit Stripe account ⧉
                    {% else %}
                        Verify Stripe account ⧉
                    {% endif %}
                </a>
            {% endif %}
        {% else %}
            <p class="lead">This user is not linked to an organisation</p>
        {% endif %}
        </div>
        </div>
    </div>

{% endblock %}