<!--# events/templates/registration/login.html-->
{% extends "events/main_template.html" %}

{% block content %}
    <div class="container text-light px-5">
        <h4>Organisation Log In:</h4>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row">
                <div class="col-6 mt-3">
                    <a href="{% url 'password_reset' %}" class="text-light text-decoration-none">Forgot password?</a>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-light rounded-pill" id="login-btn" type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}