<!--# events/templates/registration/login.html-->
{% extends "events/main_template.html" %}

{% block content %}
    <div class="container text-light px-5">
        <h4>Organisation Log In:</h4>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-end">
                <button class="btn btn-light rounded-pill" id="login-btn" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
{% endblock %}