<!--# events/templates/registration/password_reset_form.html-->
{% extends "events/main_template.html" %}

{% block content %}
    <div class="container text-light px-5">
        <h3>Forgot password</h3>
        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-end">
                <a class="btn btn-outline-light rounded-pill"
                   href="{% url 'events:login' %}">
                    Cancel
                </a>
                <button class="btn btn-light rounded-pill ms-2" id="pwr-submit-btn" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
{% endblock %}