html, body {
    height:100%;
}

body {
    background: linear-gradient(0.9turn, #dc143b 50%, #ffa200);
    background-repeat: no-repeat;
    background-attachment: stretch;
    background-color:#dc143b;
}